{{ define "posts/index.tmpl" }}
<html>
<head>
<title>{{ .title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="/assets/css/all.css?rev=4625">
</head>
<h1>
	{{ .title }}
</h1>

{{if .description }}
<p>{{.description}}</p>
{{else}}
This blog has not been found, or the format is not supported，or <a href="{{.proxy_host}}{{.address}}">view mirror</a>
{{end}}
<p>{{.links}}</p>
{{ range $i, $v := .Post }}
    <p>
        <a href="?post_id={{ $v.Post_id }}">{{ $v.Title }}</a>
    </p>
    {{ end }}
</html>
{{ end }}