{{ define "posts/post.tmpl" }}
<html>
<head>
<title>{{ .title }}</title>
<link rel="stylesheet" href="/assets/css/all.css?rev=4627">
</head>
<h1>
	{{ .title }}
</h1>
<p>{{.date_published}}</p>
<body class="page-post loaded">

<div class="post post-full">
<div class="body ">
{{.body}}</div>
</div>
</body>


</html>
{{ end }}