{{ define "index/index.tmpl" }}
<html>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
<link rel="stylesheet" href="/assets/css/all.css?rev=4629">
<body class="loaded">
<h1>
	{{.title}} 
</h1>
<p>{{.description}}(only supports blog)</p>

{{ range $i, $blog := .blogs }}
    <p>
        <a href="/{{ $blog.Address }}/">{{ $blog.Title }}</a>
    </p>
{{ end }}
<br>
<a href="https://github.com/chenjia404/zeronet2web">Source code</a>
</body>
</html>
{{ end }}