{{ define "index/index.tmpl" }}
<html>
<h1>
	{{.title}} 
</h1>
<p>{{.description}}(只支持blog)</p>

{{ range $i, $blog := .blogs }}
    <p>
        <a href="/{{ $blog.Address }}/">{{ $blog.Title }}</a>
    </p>
{{ end }}
</html>
{{ end }}